*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

/* body{
     
} */
nav{
     width: 100vw;
     min-height: 100px;
     background-color: antiquewhite;
     line-height: 50px;
     padding: 10px 10%;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     position: fixed;
     top: 0;
     z-index: 100;
}
/* #menu-icon, #close-icon{
     display: none;
} */
nav > i{
     color: brown; 
     font-size: 25px; 
     margin-top: 30px; 
     cursor: pointer;
}

#profile{
     height: 100%;
     display: flex;
     justify-content: space-around;    
}
#profile h3{
     margin: auto;
     letter-spacing: 4px;
     font-size: 20px;
}
img{
     margin-right: 30px;
     width: 75px;
     height: 75px;
     border-radius: 50%;
     /* height: ; */
}
#nav-list{
     display: flex;
     list-style: none;
     line-height: 75px;
}

#nav-list  a{
     color: brown;
     text-decoration: none;
     text-transform: uppercase;
     font-size: larger;
     font-weight: bolder;
     padding: 5px;
     /* background-color: rgb(91, 91, 218); */
     margin: 5px;
     border-radius: 5px;
}

#home,#about,#skills,#projects,#contact{
     position: absolute;
     width: 100%;
     height: 700px;
     background-color: rgb(238, 218, 193);
     /* border: 5px solid blue; */
}
#about,#projects{
     background-color: rgb(253, 245, 234);
}
#home{
     position: absolute;
     margin-top: 100px;
     /* padding-left: 10%;
     padding-right: 10%; */
     display: flex;
     justify-content: center;
     align-items: center;
     overflow-y: scroll;
}
#home > div{
     width: 70%;
     height: 325px;
     text-align: center;
     padding: 10px;
     /* margin: auto; */
     
}
#home h1{
     font-size: 45px;
     letter-spacing: 7px;
}
#home p{
     margin: 10px;
     padding: 40px;
     letter-spacing: 2px;
     line-height: 35px;
     font-size: larger;
}

#home button{
     padding: 10px 40px;
     border-radius: 10px;
     cursor: pointer;
     outline: none;
     border: none;
     background-color: rgb(185, 72, 72);
     color: white;
}

#home button:hover{
      background-color: rgb(214, 125, 125);
}
#home button:focus{
     padding: 7px 35px;
     background-color: rgb(189, 139, 139);
}


#about{
     margin-top: 800px;
     display: flex;
     flex-direction: column;
     /* justify-content: center; */
     align-items: center;
     text-align: center;
     padding:100px 10%;
     overflow-y: scroll;
}
#about > h3{
     margin-bottom: 10px;
}
#about > #underline{
     width: 100px;
     height: 5px;
}
#underline{
     margin-bottom: 30px;
     background-color: brown;
}

#about > p{
     letter-spacing: 2px;
     line-height: 35px;
     font-size: larger;
}
#skills{
     margin-top: 1500px;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 100px 10%;
     overflow-y: scroll;
}
/* #skills-underline{
     width: 100px;
     height: 5px;
     margin-bottom: 30px;
     background-color: brown;
} */
#skills > h3{
     /* text-align: center; */
     margin-bottom: 10px;
}
#skills > #skill-body{
     height: 100%;
     display: flex;
     width: 100%;
     height: 100%;
     text-align: center;
     padding: 0 5px;
     /* margin: 0 15%; */
     /* border: 5px solid green; */
}
#skills ul{
     margin: 2.5%;
     width: 48.5%;
     list-style: disc;
     text-align: left;
     letter-spacing: 2px;
     line-height: 35px;
     font-size: larger;
}
#projects{
     padding: 20px 10%;
     width: 100%;
     height: 700px;
     margin-top: 2200px;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 100px 10%;
}
#projects > h3{
     margin-bottom: 10px;
}
#projects > #projects-grid{
     width: 100%;
     height: 500px;
     display: flex;
     justify-content: space-around;
     overflow-x: scroll;
}
#projects .each-grid{
     margin: 20px;
     height: 300px;
     width: 200px;
     background-color: rgb(255, 54, 47);
}
#contact{
     margin-top: 2900px;
     height: 700px;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 100px 10%;
}
#contact h3{
     margin-bottom: 10px;
}
#contact form{
     width: 100%;
     height: 100%;
     padding: 5px 15%;
}
#contact label{
     color: brown;
     font-size: larger;
     letter-spacing: 2px;
     line-height: 20px;
}
#contact input{
     width: 100%;
     height: 20px;
     padding: 15px;
     outline: none;
}

#contact textarea{
     width: 100%;
     height: 250px;
     margin-bottom: 25px;
     outline: none;
     padding: 15px;
}

#contact button{
     width: 100%;
     padding: 10px;
     background-color: brown;
     color: white;
     outline: none;
     border: none;
}
#contact button:hover{
     cursor: pointer;
}

footer {
     position: fixed;
     bottom: 5%;
     left: 15px;
     display: flex;
     flex-direction: column;
     /* margin-top: 3600px; */
     height: 240px;
     width: 35px;
     /* background: rgb(236, 30, 30); */
     z-index: 1000;
     border-radius: 5px;
     border: 2px thin brown;
}

footer a {
     /* position: relative; */
     width: 99%;
     height: 39px;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

footer i {
     width: 99%;
     font-size: 35px;
}

@media screen and (max-width: 1100px){
nav{
     padding-left: 0%;
     padding-right: 0%;
     line-height: 10px;
}

 #nav-list{
     width: 100%;
     line-height: 15px;
     margin-right: 0px;
     margin-left: 0px;
  
} 
#nav-list > li{
     width: 20%;
     font-size: 1em;
     margin: 0px, 0px;
     padding-right: 15px;
}

#nav-list > li > a{
     margin: 0px;
     padding: 0px;
}

#home,#about,#skills,#projects{
     padding: 30% 5px;
}
#contact{
     padding: 40% 5px;
}
#home > div{
     width: 100%;
}


}

@media screen and (max-width: 700px){
#nav-list > li{
     font-size: 0.7em;
}
}

